.author-name {
  text-align: left;
  padding-left: 5px;
}

.entry-body {
  text-align: left;
}

.el-button {
  background-color: #b3c0d1;
  color: var(--el-text-color-primary);
}
.el-button.is-circle {
  border-color: #b3c0d1;
}

.el-footer {
  border-top: ridge;
  margin-bottom: 10px;
  background-color: #e9eef3;
  color: var(--el-text-color-primary);
  .footer-relation-cont {
    color: rgb(161, 161, 161);
  }
  .footer-like-cont {
    color: rgb(161, 161, 161);
  }
}
