.el-menu {
  background-color: #d3dce6;
  color: var(--el-text-color-primary);

  margin-top: auto;
  margin-bottom: auto;
}

.header-container {
  text-align: left;
  padding-left: 10px;
}

.send_button{
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.el-button.menu-button {
  background-color: #b3c0d1;
  border-color: #b3c0d1;
  color: var(--el-text-color-primary);
}